<div class="classHour-edit">
	<form class="form-horizontal" role="form">
		<div class="form-group" ng-repeat="item in editData.label">
			<label class="control-label col-sm-3" for="{{item.labelFor}}">{{item.labelName}}</label>
			<div class="col-sm-9">
				<input 
					ng-if="item.type!='file'"
					class='form-control' 
					type='{{item.type}}' 
					id='{{item.labelFor}}' 
					name='{{item.labelFor}}' 
					ng-model='item.inputModel'  
				/>
				<fileread 
					ng-if="item.type=='file'"
					model="item.inputModel"
				>
				</fileread>
				<div id="box1"></div>
				<div id="box2"></div>
			</div>
		</div>
		
		<div class="form-group text-right">
			<div class="col-sm-5 col-sm-offset-5">
				<sure
					data="editData.label" 
					url-data="urls"
				>
				</sure>
			</div>
		</div>
	</form>
</div>