<div class="student-edit">
	<form class="form-horizontal" role="form">
		<div class="form-group" ng-repeat="item in editData.label">
			<label class="control-label col-sm-3" for="{{item.labelFor}}">{{item.labelName}}</label>
			<div class="col-sm-9">
				<input class='form-control' type='text' id='{{item.labelFor}}' name='{{item.labelFor}}' ng-model='item.inputModel'  />
			</div>
		</div>		
		<div class="form-group text-right">
			<div class="col-sm-5 col-sm-offset-5">
				
			</div>
		</div>
	</form>
</div>